#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container-underheader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #f5f6fa;
  justify-content: center;
  gap: 3rem;
}
.header-h1-underheader{
  color: #4e3797;
}

.btns-underheader{
display: grid; grid-template-columns: 1fr 1fr; 
}
.btn-odlt-underheader{
background-color: #4e3797; color: white; background-color: #4e3797; border-radius: 1rem;"
}
.btn-cheldren-underheader{
  border-radius: 1rem;
}

.container-footer{
display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.all-icons-footer{
color: white;
}

.first-ul-footer ul {
color:white;
}

.second-ul-footer ul {
  color:white;
  }
